* {
  box-sizing: border-box;
}

:root {
  /* FONTY */

  --basic-font-family: "Open Sans", sans-serif;
  --complementary-font-family: "Raleway", sans-serif;
  --basic-text-font-size: 16px;
  --title-font-size: 49px;
  --subtitle-font-size: 36px;

  /* KOLORY */

  --primary-color: #08a6e4;
  --primary-shadow-color: rgba(7, 172, 230, 0.16);
  --redish-accent-color: #fb3b64;
  --green-accent-color: #55dfb4;
  --black-color: #000000;
  --grey-color: #a5a5a5;
  --light-grey-color: #f7f7f7;
  --white-color: #FFFFFF;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  margin: 0 auto;
  max-width: 1352px;
}
