.about {
  width: 100%;
  background: $background-color;
  margin-top: 10px;
  height: 100%;
  padding-bottom: 50px;
  font-size: 16px;
  text-align: center;
  padding: 50px 20px;

  @include media($bp-md) {
    margin-top: 70px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  &__title {
    @include title($basic-text-color, h2);
    line-height: 1.2em;

    @include media($bp-md) {
      @include title($basic-text-color, 2.2em);
      margin-bottom: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    height: 100%;
    margin-top: 40px;

    @include media($bp-md) {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 70px;
      margin-top: 50px;
      align-items: flex-start;
    }

    &--item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 20px;
      height: 100%;
      max-width: 170px;
    }

    &--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      font-weight: 100;
      color: $muted-text-color;
      line-height: 1.4em;

      @include media($bp-md) {
        font-size: 20px;
        justify-content: flex-start;
      }

      h3 {
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 8px;
        font-family: $complementary-font-family;
        color: $basic-text-color;
      }
    }

    &--img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
        @extend %circle;
        background-color: $redish-accent-color;
      }

      .icon {
        height: 52px;
        position: absolute;
        right: 0;
        left: 45%;
        transform: translateX(-5%);
      }
    }

    .blue::before {
      background-color: $primary-color;
    }

    .green::before {
      background-color: $green-accent-color;
    }
  }
}
