@use "sass:color";

.page-contact {
  width: 100%;
  background: $background-color;
  padding: 60px 40px;
  height: 100%;
  font-size: 16px;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 30px;

    @include media($bp-md) {
      grid-template-columns: 1fr 1fr;
      width: 80%;
      grid-template-rows: 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 10px;

    &-title {
      @include title($basic-text-color, h2);
      line-height: 1em;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 10px;
    margin-top: 30px;

    &-item {
      a {
        color: $muted-text-color;
      }

      img {
        margin-right: 10px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: $basic-font-family;
    width: 100%;

    &-field {
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 700;
      letter-spacing: 3.5px;
      display: flex;
      flex-direction: column;
      font-size: 0.7em;
    }

    &-input {
      padding: 22px;
      border-top: none;
      border-left: none;
      border-right: none;
      font-size: 1em;
      border-bottom: 1px solid $muted-text-color;

      &:focus {
        border-bottom: 1px solid $primary-color;
      }
    }
    .checkbox {
      font-size: 0.8em;
      color: $muted-text-color;
      line-height: 1.5em;
      display: inline-block;
      position: relative;
      padding-left: 34px;

      input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
      }

      input[type="checkbox"] + label:before {
        content: "";
        vertical-align: middle;
        width: 24px;
        height: 24px;
        border-radius: $basic-border-radius;
        border: 1px solid $muted-text-color;
        background: $background-color;
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        cursor: pointer;
      }

      input[type="checkbox"]:checked + label:before {
        content: "";
        background-image: url("../assets/Checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-button {
      @extend %button_basic;
      background-color: $primary-color;
      box-shadow: 5px 10px 14px $accent-shadow;
      padding: 20px;
      min-width: 226px;
      align-self: flex-end;
      transition: all 0.5s;
      position: relative;

      @include media($bp-md) {
        &:hover {
          @include button_hover(50px, 70px) {
            background-color: color.scale($primary-color, $lightness: 20%);
          }
        }

        &:hover:after {
          opacity: 1;
          right: 20px;
        }
      }
    }
  }
}
