* {
  box-sizing: border-box;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: $basic-font-family;
}

.container {
  margin: 0 auto;
  max-width: 1352px;
}

a {
  text-decoration: none;
}


