.page-header {
  width: 100%;
  height: 70px;
  background-color: $background-color;
  box-shadow: 0 3px 6px $basic-shadow;
  position: fixed;
  z-index: 12;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 16px;
    width: 100%;
  }

  &__logo {
    a {
      font-size: 2em;
      color: $primary-color;
      font-weight: 100;
      padding-left: 0.6em;
    }
  }

  &__hamburger {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &-icon {
      position: relative;
      height: 40px;
      width: 40px;
      cursor: pointer;
      display: flex;

      span {
        display: block;
        position: absolute;
        left: 5px;
        width: calc(100% - 10px);
        height: 2px;
        background: $primary-color;
        transition: 0.5s;

        &:nth-child(1) {
          top: calc(25% - 0.5px);
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }
        &:nth-child(3) {
          top: calc(75% - 2px);
        }
      }
    }

    @include media(medium) {
      display: none;
    }
  }

  &__hamburger-checkbox:checked ~ label {
    .page-header__hamburger-icon {
      span {
        &:nth-child(1) {
          transform: translateY(4px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-14px) rotate(-45deg);
        }
      }
    }
  }

  &__hamburger-checkbox:checked ~ .menu {
    transform: translateY(0);

    @include media(medium) {
      transform: unset;
    }
  }

  .menu {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    background: $background-color;
    padding: 2em 1.5em;
    transition: transform 1s ease-in-out;
    z-index: -4;
    box-shadow: 0 3px 6px $basic-shadow;
    transform: translateY(-100%);

    @include media(medium) {
      height: 100%;
      background: none;
      box-shadow: none;
      padding: 0 2em;
      z-index: 1;
      transform: unset;
      position: unset;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex-direction: column;
      gap: 12px;

      @include media(medium) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        gap: 80px;
      }

      &-item {
        a {
          font-size: 0.7em;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 3.28px;
          color: $muted-text-color;
          line-height: 2em;
        }

        @include media(medium) {
          height: 100%;

          a {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            &:hover {
              color: $basic-text-color;
            }

            &::after {
              content: "";
              display: block;
              background-color: transparent;
              height: 3px;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 0%;
              transition: width 0.2s ease-in;
            }

            &:hover::after {
              background-color: $primary-color;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.spacer {
  height: 70px;
  background-color: $background-color;
  box-shadow: 0 3px 6px $basic-shadow;
  width: 100%;
  position: absolute;
  z-index: -4;

  @include media(medium) {
    display: none;
  }
}
