%circle {
  content: "";
  display: block;
  height: 63px;
  width: 63px;
  border-radius: 100%;
  position: relative;
}

%lines {
  content: "";
  display: block;
  height: 4px;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
}

%button_basic {
  border: 1px solid transparent;
  padding: 16px 24px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  text-wrap: nowrap;
  color: $background-color;

  &::after {
    content: "»";
    display: block;
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
    color: $background-color;
    font-size: 1.4em;
    transform: translate(-50%);
  }
}
