.hero {
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center bottom;
  background-size: 900px;
  min-height: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5em;

  @include media($bp-md) {
    background-size: 100%;
    min-height: 842px;
    font-size: 1.5em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 30px;
    margin-top: -100px;

    &-title {
      @include title($basic-text-color, h1);
    }

    @include media($bp-md) {
      margin-top: -170px;
    }
  }

  &__cta {
    padding: 20px;
    margin-top: 10px;
    background-color: $primary-color;
    color: $background-color;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 5px 10px 14px $accent-shadow;
    border: 1px solid $primary-color;
    text-align: center;
    width: 80%;
    max-width: 500px;
    min-width: max-content;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    border-radius: 40px;

    span {
      z-index: 3;
      position: relative;
    }

    @include media($bp-md) {
      &:hover {
        color: $primary-color;
      }
      &::after {
        content: "";
        background: $background-color;
        position: absolute;
        z-index: 2;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(0, 0);
        transition: 0.5s;
        border-radius: 40px;
        opacity: 0.9;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
}
