@mixin title($color, $size) {
  color: $color;
  font-size: $size;
  font-family: $complementary-font-family;
  @content;
}

@mixin lines($color) {
  background-color: $color;
  @extend %lines;
  margin-top: 20px;
  display: none;
}

@mixin media($size, $direction: min){
  @media screen and (#{$direction}-width: $size) {
    @content;
  }
}


