@use "sass:map";

@mixin title($color, $size) {
  color: $color;
  font-size: map.get($titles, $size);
  font-family: $complementary-font-family;
  @content;
}

@mixin lines($color) {
  background-color: $color;
  @extend %lines;
  margin-top: 20px;
  display: none;
}

@mixin button_hover($padding-left, $padding-right) {
  text-shadow: 1px 1px 2px $basic-shadow;
  padding-left: $padding-left;
  padding-right: $padding-right;
  @content;
}

@mixin media($size, $direction: min) {
  @media screen and (#{$direction}-width: $size) {
    @content;
  }
}
