@use "sass:color";

.pricing {
  font-size: 16px;

  .container {
    width: 100%;
    background: $background-color;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    max-width: 1324px;
    height: 100%;
  }

  &__title {
    @include title($basic-text-color, h2);
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 90px;
    width: 100%;
    max-width: 1324px;

    @include media($bp-md) {
      flex-direction: row;
      padding: 20px;
      gap: 5%;
    }
  }

  &__single-item {
    border: 1px solid $redish-accent-color;
    border-radius: 18px;
    padding: 10px 10px 30px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    width: 80%;
    text-align: left;
    font-size: 1em;
    font-family: $basic-font-family;
    line-height: 1.5em;

    @include media($bp-md) {
      max-width: 460px;
      flex-direction: column;
      text-align: center;
      padding: 40px 10px 50px 10px;
    }

    &--large {
      border: 1px solid $primary-color;
      box-shadow: 0 -5px 40px $accent-shadow;
      width: 90%;

      @include media($bp-md) {
        min-height: 520px;
      }
    }

    &--green {
      border: 1px solid $green-accent-color;
    }

    &--offer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        @include title($basic-text-color, h3);
        font-weight: 700;
      }

      .price {
        font-size: 3em;
        font-weight: 100;
        padding: 5px;
        line-height: 1.2em;

        &-red {
          color: $redish-accent-color;
        }

        &-green {
          color: $green-accent-color;
        }
        &-blue {
          color: $primary-color;
        }
      }

      .limited {
        font-size: 0.8em;
        font-family: $complementary-font-family;
        font-weight: 700;
      }
    }

    &:first-of-type {
      span:first-of-type {
        visibility: hidden;
      }
    }

    &--features {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 20px 0;

      text-wrap: nowrap;
      height: 100%;

      @include media($bp-md) {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }

    &--feature {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: 100%;

      @include media($bp-md) {
        justify-content: center;
      }

      .checkmark {
        width: 11px;
        height: 11px;
        border: 1px solid $green-accent-color;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 2px;

        &::before {
          display: block;
          content: "";
          transform: rotate(45deg);
          height: 6px;
          width: 2px;
          border-bottom: 1px solid $green-accent-color;
          border-right: 1px solid $green-accent-color;
        }
      }

      .crossmark {
        width: 11px;
        height: 11px;
        border: 1px solid $redish-accent-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        text-align: center;
      }

      .crossmark:before {
        display: block;
        content: "X";
        font-size: 6px;
        font-weight: 800;
        color: $redish-accent-color;
      }
    }
  }

  &__button {
    @extend %button_basic;
    background-color: $redish-accent-color;
    padding: 15px 50px;
    display: flex;
    align-self: center;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    min-width: 120px;
    display: flex;
    justify-content: center;
    transition: 0.5s;

    @include media($bp-md) {
      &:hover {
        @include button_hover(40px, 60px) {
          background-color: color.scale($redish-accent-color, $lightness: 20%);
        }
      }

      &:hover:after {
        opacity: 1;
        right: 10px;
      }
    }

    &-green {
      background-color: $green-accent-color;
      border: 1px solid transparent;
      transition: 0.5s;

      @include media($bp-md) {
        &:hover {
          @include button_hover(40px, 60px) {
            background-color: color.scale($green-accent-color, $lightness: 20%);
          }
        }

        &:hover:after {
          opacity: 1;
          right: 10px;
        }
      }
    }

    &-blue {
      background-color: $primary-color;
      border: 1px solid transparent;
      min-width: 180px;
      box-shadow: 8px 5px 30px $accent-shadow;
      transition: 0.5s;

      @include media($bp-md) {
        &:hover {
          @include button_hover(20px, 40px) {
            background-color: color.scale($primary-color, $lightness: 20%);
          }
        }
        &:hover:after {
          opacity: 1;
          right: 10px;
        }
      }
    }
  }
}
