
$titles: (
  h1: 52px,
  h2: 36px,
  h3: 24px,
);

// COLORS

$primary-color: #08a6e4;
$accent-shadow: rgba(7, 172, 230, 0.16);
$basic-shadow: #00000029;
$redish-accent-color: #fb3b64;
$green-accent-color: #55dfb4;
$basic-text-color: #000000;
$muted-text-color: #a5a5a5;
$medium-grey-clor: #707070;
$background-color: #ffffff;
$basic-border-color: #e8e9ed;

//FONTS

$basic-font-family: "Open Sans", sans-serif;
$complementary-font-family: "Raleway", sans-serif;
$basic-text-font-size: 16px;
$pricing-subtitle-font-size: 20px;
$price-font-size: 46px;

// MEDIA

$bp-md: 768px;
$bp-lg: 1024px;

$basic-border-radius: 5px;
